{% comment %}

    Customer Account Dashboard
    Includes: 
    - Order history table
    - Customer default address
    - Log Out
    - Link to Edit Address page
      
{% endcomment %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>{{ 'customer.account.title' | t }}</h1>
            <a href="/account/logout">{{ 'customer.account.logout' | t }}</a>
            <hr>
        </div>
    
        <div class="col-sm-8">
            {% include 'customer-order-history' %}
        </div>

        <div class="col-sm-4">
            {{ customer.default_address | format_address }}
            <a href="/account/addresses">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>
        </div>
    </div>
</div>